{% if site.duoshuo_shortname %}
<head>
    <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
    <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
</head>
<body>
    <div id="vcomments"></div>
    <script>
        new Valine({
            el: '#vcomments',
            appId: '<KgREpFtTOtUzHHbW7Ctpdb0t-gzGzoHsz>',
            appKey: '<jz1cSK9UPhW0lzP29rcHCncs>'
        })
    </script>
</body>
<!-- 多说公共JS代码 end -->
{% endif %}

<!-- jitalk公共JS代码 end -->
{% if site.disqus_shortname %}
<div id="gitalk-container"></div>
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
<script>
var gitalk = new Gitalk({
  clientID: '7eef0377b8ca11a2f010',
  clientSecret: '03799fc9d2e1e27509d91a55af8e46c786175947',
  repo: 'jabingucommit',
  owner: 'jabingu',
  admin: ['jabingu'],
  id: location.pathname,      // Ensure uniqueness and length less than 50
  distractionFreeMode: false  // Facebook-like distraction free mode
})
gitalk.render('gitalk-container')
</script>
{% endif %}
