{% assign tags = include.tags %}
{% if tags.size > 0 %}
  <div class="tag-list">
    <!--
    {% if tags.size == 1 %}
    <div class="meta">Tag</div>
    {% else %}
    <div class="meta">Tags</div>
    {% endif %}
    -->
    
    {% for tag in sortedtags %}
      <a  class="button" href="{{ "/tags" | relative_url }}#{{ tag | cgi_escape }}">
        <p><i class="fa fa-tag fa-fw"></i> {{ tag }} ({{ site.tags[tag].size }})</p>
      </a>  

    {% endfor %}

  </div>
{% else %}
<footer>
  <div class="tag-list"></div>
</footer>
{% endif %}