---
layout: page
---

<div class="page clearfix">
    <div class="left">
        <div class="tag-list">
        {% capture categories %}
        {% for category in site.categories %}
            {{ category[0] }}
        {% endfor %}
        {% endcapture %}
        {% assign sortedcategories = categories | split:' ' | sort %}
        {% for category in sortedcategories %}
        <a  class="button" href="{{ "/category" | relative_url }}#{{ category | cgi_escape }}">
          <p><i class="fa fa-th-list"></i> {{ category }} ({{ site.categories[category].size }})</p>
        </a>  
        {% endfor %}
        </div>
        
        <ul>
            {% for category in site.categories %}
            <h2 id="{{category | first}}">{{category | first}}</h2>
                {% for posts in category  %}
                    {% for post in posts %}
                        {% if post.url %}
                        <li>
                            <time>
                            {{ post.date | date:"%F" }} {{ post.date | date: "%a" }}.
                            </time>
                            <a class="title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                            
                            {% include category.html %}
                            {% include tag.html %}
                        </li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </ul>
    </div>

</div>
<hr>

